<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Store</title>
    <link rel="stylesheet"  href="./css/style.css">
  </head>
  <body>

    <div id="container">

        
        <%- include ('header.ejs') %>
        <%- include ('navigation.ejs') %>

        <div id="side">
            <h3>Categories</h3>
            <a href="/living">Living Room</a>
            <a href="/dining">Dining Room</a>
            <a href="/bedroom">Bedroom</a>
            <a href="/access">Accessories</a>
        </div>
        
        <div id="body">
            <%for(let i in products){%>
              <a id="listing" href=<%="/p?pnumber="+i%>>
                <img id="icon" src=<%=products[i].pic%>>
                <p><%=products[i].name%></p>
                <p>$<%=products[i].price%></p>
              </a>
            <%}%>
        </div>
        <%- include ('footer.ejs') %>
        <%- include ('copyright.ejs') %>
    </div>
	
  </body>
</html>